:root {
  --main-title-color: #ffffff;
}
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
/*-----------------------HEDER----------------------*/
.header {
}
.header-nav {
}

.header-logo,
.header-portfolio-link-logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.header-logo-color {
  color: #2e2f42;
}
.header-portfolio-part-logo {
  color: #2e2f42;
}
.header-list {
}
.header-item {
}
.header-address-link:hover,
.header-address-link:focus {
  color: #404bbf;
}
.header-link:focus,
.header-link:hover {
  color: #404bbf;
}

.header-portfolio-link:hover,
.header-portfolio-link:focus {
  color: #404bbf;
}
.header-portfolio-address:hover,
.header-portfolio-address:focus {
  color: #404bbf;
}
.modal-btn {
  cursor: pointer;
}
.header-portfolio-link,
.header-link,
.modal-btn,
.header-item {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.modal-btn {
  letter-spacing: 0.04em;
}

.modal-btn {
  color: #4d5ae5;
  background: #f4f4fd;
}
.modal-btn:hover,
.modal-btn:focus {
  color: #ffffff;
  background: #404bbf;
}
.header-address {
  font-style: normal;
}
.header-address-link {
  font-style: normal;
  letter-spacing: 0.02em;
  color: #434455;
}
.header-address-link,
.pay-text,
.servis-text,
.food-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
  letter-spacing: 0.02em;
}
/*-----------------------FIRST SECTION----------------------*/
.first-btn {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;

  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;

  color: #ffffff;
}
.quaisty-1 {
}
.first-btn:hover {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  background-color: #404bbf;
}

.first-btn:focus {
  background-color: #404bbf;
  cursor: pointer;
}
.first-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.first {
  background-color: #2e2f42;
}
/*-----------------------QUAISTY----------------------*/
.quaisty {
}
.quaisty-list {
}
.list {
}
.quaisty-uptext,
.pay-uptext,
.servis-uptext,
.food-uptext {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  background-color: #ffffff;
}
.quaisty-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.photo-color {
  color: #ffffff;
}
/*-----------------------PAGE----------------------*/
.page {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  text-align: center;
}
.page-list {
}
.list {
}
.page-phone {
}
.photo {
  background-color: #f4f4fd;
}
.photo-team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  text-align: center;
}
.photo-list {
  background-color: #ffffff;
}
.list {
}
.photo-human {
}
.photo-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  background-color: #ffffff;
}
.logo-footer,
.portfolio-logo-footer {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.logo-footer-studio,
.portfolio-logo-footer-studio {
  color: #f4f4fd;
}
.footer-text,
.portfolio-footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #e7e9fc;
}
.footer,
.footer-portfolio {
  background-color: #2e2f42;
}
.photo-color,
.photo-team {
  background-color: #ffffff;
}
