:root {
  --main-title-color: #ffffff;
  --main-color: #2e2f42;
  --main-gray: #434455;
  --blu: #4d5ae5;
  --d-blu: #404bbf;
  --l-gray: #f4f4fd;
  --ll-gray: #e7e9fc;
}
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
/*-----------------------HEDER----------------------*/

.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--blu);
}
.header-portfolio-link-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--blu);
}
.header-logo-color {
  color: var(--main-color);
}
.header-portfolio-part-logo {
  color: var(--main-color);
}

.header-address-link:hover,
.header-address-link:focus {
  color: var(--d-blu);
}
.header-link:focus,
.header-link:hover {
  color: var(--d-blu);
}

.header-portfolio-link:hover,
.header-portfolio-link:focus {
  color: var(--d-blu);
}
.header-portfolio-address:hover,
.header-portfolio-address:focus {
  color: var(--d-blu);
}
.modal-btn {
  cursor: pointer;
}

.header-link,
.modal-btn,
.header-item,
.header-address-link {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-color);
}

.header-portfolio-address {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-gray);
}
.header-portfolio-link {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-color);
}

.modal-btn {
  letter-spacing: 0.04em;
}

.modal-btn {
  color: var(--blu);
  background: #f4f4fd;
}
.modal-btn:hover,
.modal-btn:focus {
  color: var(--main-title-color);
  background: var(--d-blu);
}
.header-address {
  font-style: normal;
}
.header-address-link {
  line-height: 1.5;
  font-style: normal;
  letter-spacing: 0.02em;
  color: var(--main-gray);
}

.pay-text,
.servis-text,
.food-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--main-gray);
  letter-spacing: 0.02em;
}
/*-----------------------FIRST SECTION----------------------*/
.first-btn {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;

  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  background-color: var(--blu);

  color: var(--main-title-color);
}
.first-btn:hover {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  background-color: var(--d-blu);
}

.first-btn:focus {
  background-color: var(--d-blu);
  cursor: pointer;
}
.first-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
}
.first {
  background-color: #2e2f42;
}
/*-----------------------QUAISTY----------------------*/
.quaisty {
}
.quaisty-list {
}
.list {
}
.quaisty-uptext,
.pay-uptext,
.servis-uptext,
.food-uptext {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--main-color);
  background-color: var(--main-title-color);
}
.quaisty-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-gray);
}
.photo-color {
  color: var(--main-title-color);
}
/*-----------------------PAGE----------------------*/
.page {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--main-color);
  text-align: center;
}
.page-list {
}
.list {
}
.page-phone {
}
.photo {
  background-color: var(--l-gray);
}
.photo-team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--main-color);
  text-align: center;
}
.photo-list {
  background-color: var(--main-title-color);
}
.list {
}
.photo-human {
}
.photo-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-gray);
  background-color: var(--main-title-color);
}
.logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--blu);
}
.portfolio-logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--blu);
}

.portfolio-logo-footer-studio {
  color: var(--l-gray);
}
.logo-footer-studio {
  color: var(--l-gray);
}
.footer-text,
.portfolio-footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--ll-gray);
}

.footer-portfolio {
  background-color: var(--main-color);
}
.footer {
  background-color: var(--main-color);
}

.photo-team {
  background-color: var(--main-title-color);
}
.photo-color {
  background-color: var(--main-title-color);
}
